.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}

.icon::before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.list-inline > [class*=icon] {
    vertical-align: middle;
}

.icon-creative {
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
}

.icon-creative, .icon-creative:active, .icon-creative:focus {
    color: #aeb1be;
}

.icon-creative::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    transition: 0.22s;
}

.icon-creative:hover {
    color: #fff;
}

.icon-creative:hover::after {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    background: #204995;
}

.icon-creative[class*=facebook]::after {
    background: #2059a0;
}

.icon-creative[class*=twitter]::after {
    background: #00aae6;
}

.icon-creative[class*=instagram]::after {
    background: linear-gradient(to top, #f15823 0%, #a7058e 100%);
}

.icon-creative[class*=google]::after {
    background: #ff3807;
}

.icon-creative[class*=linkedin]::after {
    background: #2881a8;
}

.icon-modern {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #e8e9ee;
    color: #204995;
}

.icon-circle {
    border-radius: 50%;
}

.icon-sm {
    font-size: 20px;
}

.icon-md {
    font-size: 1.5em;
}

.icon-lg {
    font-size: 1.875em;
}