.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}

.icon::before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.list-inline > [class*=icon] {
    vertical-align: middle;
}

.icon-creative {
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
}

.icon-creative, .icon-creative:active, .icon-creative:focus {
    color: #aeb1be;
}

.icon-creative::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    transition: 0.22s;
}

.icon-creative:hover {
    color: #fff;
}

.icon-creative:hover::after {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    background: #204995;
}

.icon-creative[class*=facebook]::after {
    background: #2059a0;
}

.icon-creative[class*=twitter]::after {
    background: #00aae6;
}

.icon-creative[class*=instagram]::after {
    background: linear-gradient(to top, #f15823 0%, #a7058e 100%);
}

.icon-creative[class*=google]::after {
    background: #ff3807;
}

.icon-creative[class*=linkedin]::after {
    background: #2881a8;
}

.icon-modern {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #e8e9ee;
    color: #204995;
}

.icon-circle {
    border-radius: 50%;
}

.icon-sm {
    font-size: 20px;
}

.icon-md {
    font-size: 1.5em;
}

.icon-lg {
    font-size: 1.875em;
}

body {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: black;
    -webkit-font-smoothing: subpixel-antialiased;
}

strong {
    font-weight: 700;
    color: #74757f;
}

.container {
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none !important;
}

.link-default,
.link-default:active,
.link-default:focus {
    color: #74757f;
}

.link-default:hover {
    color: #204995;
}

.context-dark .link-default,
.bg-gray-700 .link-default,
.bg-gray-800 .link-default,
.bg-primary .link-default,
.bg-secondary .link-default,
.bg-primary-darker .link-default {
    color: #aeb1be;
}

.context-dark .link-default:hover,
.bg-gray-700 .link-default:hover,
.bg-gray-800 .link-default:hover,
.bg-primary .link-default:hover,
.bg-secondary .link-default:hover,
.bg-primary-darker .link-default:hover {
    color: #fff;
}

.default__section {
    padding: 72px 0;
}

/* Blocks */
.listbar-info-email {
    margin-left: 30px;
}

.navbar-info-gcc {
    margin-left: 30px;
}

@media (max-width: 1100px) {
    .navbar-info-gcc {
        margin-left: 20px;
    }
}

.navbar-show-aside {
    display: none;
    position: relative;
    border: 0;
    outline: none !important;
    margin-right: 10px;
}

.navbar-show-aside span {
    position: absolute;
    width: 5px;
    height: 5px;
    line-height: 5px;
    text-align: center;
    background: #29293a;
    left: 50%;
    margin-left: -2.5px;
    border-radius: 50%;
    transition: 0.3s all ease;
}

.navbar-show-aside span::before, .navbar-show-aside span::after {
    position: absolute;
    width: 5px;
    height: 5px;
    line-height: 5px;
    text-align: center;
    background: #29293a;
    left: 50%;
    margin-left: -2.5px;
    border-radius: 50%;
    transition: 0.3s all ease;
}

.navbar-show-aside span::before {
    content: "";
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    bottom: 100%;
    margin-bottom: 2.5px;
}

.navbar-show-aside span::after {
    content: "";
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    top: 100%;
    margin-top: 2.5px;
}

.navbar-show-aside.active span {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

@media (max-width: 991px) {
    .navbar-show-aside {
        display: block;
    }
}

.contact-link {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.c-navbar-brand a {
    display: block;
}

.c-navbar-brand img {
    width: auto;
    height: auto;
    max-width: 216px;
    max-height: 61px;
}

@media (max-width: 991px) {
    .c-navbar-brand img {
        max-width: 160px;
        max-height: 45px;
        width: auto;
        height: auto;
    }
}

.brand {
    display: inline-block;
}

.brand .brand-logo-light {
    display: none;
}

.brand .brand-logo-dark {
    display: block;
}

.page-link.button-winona .content-dubbed {
    margin-top: -1px;
}

.list-0 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.unit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin-bottom: -30px;
    margin-left: -20px;
}

.unit > * {
    margin-bottom: 30px;
    margin-left: 20px;
}

@media (max-width: 1100px) {
    .unit > * {
        margin-left: 5px;
    }
}

.unit:empty {
    margin-bottom: 0;
    margin-left: 0;
}

.unit-body {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.unit-left,
.unit-right {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
}

.unit-spacing-xs {
    margin-bottom: -15px;
    margin-left: -7px;
}

.unit-spacing-xs > * {
    margin-bottom: 15px;
    margin-left: 7px;
}

.logo-text {
    width: auto;
    height: auto;
    max-width: 216px;
    max-height: 61px;
}

.burger {
    display: none;
    outline: none !important;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 0;
    color: transparent;
    position: relative;
}

@media (max-width: 991px) {
    .burger {
        display: block;
    }
}

.burger::before, .burger::after,
.burger span {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    left: 0;
}

.burger::before, .burger::after {
    content: "";
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.burger span {
    position: absolute;
    margin: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: opacity 0.2s linear;
}

.burger::before {
    position: absolute;
    top: 12px;
}

.burger::after {
    position: absolute;
    bottom: 12px;
}

.burger.active {
    -webkit-transform: none;
    transform: none;
}

.burger.active span {
    opacity: 0;
}

.burger.active::before, .burger.active::after {
    top: 50%;
}

.burger.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navbar-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    z-index: 1000;
}

@media (max-width: 991px) {
    .navbar-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
        height: 56px;
        background-color: #fff;
        padding: 0;
    }
}

.navbar-aside {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-width: 1170px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
}

@media (max-width: 991px) {
    .navbar-aside {
        padding: 8px;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.navbar-aside-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 25px;
}

@media (max-width: 991px) {
    .navbar-aside-content {
        visibility: hidden;
        display: block;
        margin-left: 0;
        row-gap: 25px;
        position: absolute;
        top: 56px;
        right: 0;
        background-color: #fff;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        transition: 0.3s;
        opacity: 0;
        padding: 30px;
        border-radius: 0 0 0 6px;
        box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);
    }
}

.navbar-aside-content.active {
    display: grid;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991px) {
    .navbar-info-phone {
        margin-left: 1rem;
    }
}

.navbar-main {
    position: relative;
    z-index: 1000;
    background-color: #f5f6fa;
    border-bottom: 0 solid #e8e9ee;
    border-bottom-width: 1px;
}

@media (max-width: 991px) {
    .navbar-main {
        width: 270px;
    }
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-content {
    position: relative;
    padding: 0 15px;
    max-width: 1170px;
    margin: auto;
}

@media (max-width: 991px) {
    .nav-content {
        width: 270px;
        display: none;
        background-color: white;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        padding-top: 56px;
        padding-left: 0;
        padding-right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
        border-right: 1px solid #e8e9ee;
    }
}

.nav-content::-webkit-scrollbar-thumb {
    background: #f83866;
    border: none;
    border-radius: 0;
    opacity: 0.2;
}

.nav-content::-webkit-scrollbar-track {
    background: #204995;
    border: none;
    border-radius: 0;
}

.nav-content::-webkit-scrollbar {
    width: 4px;
}

.nav-content.active {
    display: block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 0;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}

@media (max-width: 991px) {
    .nav-list {
        display: block;
    }
}

.nav-item {
    position: relative;
}

.nav-item::after {
    z-index: 1001;
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 100px;
}

@media (max-width: 991px) {
    .nav-item::after {
        display: none;
    }
}

.nav-item:hover > .subnav {
    display: block;
}

.nav-item:hover > .has-subnav::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    margin-left: 10px;
    border-color: #204995;
    transition: -webkit-transform 100ms linear;
    transition: transform 100ms linear;
    transition: transform 100ms linear, -webkit-transform 100ms linear;
}

@media (max-width: 991px) {
    .nav-item {
        display: block;
        margin: 0;
    }
}

.nav-link {
    color: black;
    padding: 0;
    position: relative;
}

.nav-link:hover {
    color: black;
}

.nav-link.has-subnav {
    position: relative;
}

.nav-link.has-subnav::after {
    content: "";
    display: block;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2.2px;
    position: absolute;
    margin-left: 5px;
    top: 50%;
    -webkit-transform: rotate(45deg) translateY(-120%);
    transform: rotate(45deg) translateY(-120%);
}

@media (max-width: 991px) {
    .nav-link.has-subnav::after {
        right: 5%;
    }
}

@media (max-width: 991px) {
    .nav-link {
        color: black;
        padding: 14px 56px 14px 18px;
    }
}

.nav-sublink {
    padding: 4px 0;
}

.nav-sublink > a {
    color: #204995;
}

.nav-sublink > a:hover {
    margin-left: 20px;
    transition: margin 0.3s;
}

@media (max-width: 991px) {
    .nav-sublink > a {
        float: none;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        position: relative;
        padding: 9px 56px 9px 16px;
        padding-left: 30px;
        color: white;
        font-weight: 400;
    }
}

@media (max-width: 991px) {
    .nav-sublink {
        background-color: #204995;
        margin-top: 3px;
    }
}

.subnav {
    width: 300px;
    display: none;
    padding: 16px 27px;
    margin-top: 22px;
    background-color: white;
    border-radius: 6px;
    z-index: 1000;
    position: absolute;
    top: 100%;
}

@media (max-width: 991px) {
    .subnav {
        display: none;
        position: relative;
        background-color: white;
        min-width: 160px;
        padding: 0;
        z-index: 1000;
        margin-top: 3px;
        width: auto;
    }
}

.swiper-slide-qr {
    display: inline-block;
    width: 100%;
    background-size: cover;
}

.swiper-slide > img {
    width: 1439px !important;
}

.slide-content {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 100%;
    padding: 0 15px;
    color: white;
}

@media (max-width: 575px) {
    .slide-content {
        padding: 0;
        left: 5%;
    }
}

.slide-holder {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.slide-holder > h6 {
    font-weight: 400;
}

@media (max-width: 768px) {
    .slide-holder > h6 {
        font-size: 14px;
    }
}

.slide-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 58px;
}

@media (max-width: 991px) {
    .slide-title {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .slide-title {
        font-size: 30px;
    }
}

.slider-button {
    margin-top: 60px;
}

.slider-button > a,
.slider-button button {
    margin-left: 0;
}

.change-buttons {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

@media (max-width: 575px) {
    .change-buttons {
        bottom: 20%;
    }
}

.swiper-button-prev {
    position: relative;
    font-size: 38px;
    color: white;
}

.swiper-button-prev::after {
    content: "\f054";
    font-family: "Material Design Icons";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.swiper-button-prev:hover {
    color: #204995 !important;
}

.swiper-button-next {
    position: relative;
    font-size: 38px;
    margin-left: 40px;
    color: white;
}

.swiper-button-next::after {
    content: "\f054";
    font-family: "Material Design Icons";
}

.swiper-button-next:hover {
    color: #204995 !important;
}

.slide-text {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    max-width: 420px;
    font-weight: 300;
    color: #aeb1be;
    margin-top: 20px;
    padding-left: 35px;
    border-left: 2px solid #204995;
}

@media (max-width: 575px) {
    .slide-text {
        padding-left: 10px;
    }
}

.news {
    background-color: #f5f6fa;
}

.news__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.news__wrapper > a {
    margin-left: 0;
    margin-top: 70px;
}

@media (max-width: 991px) {
    .news__wrapper > a {
        margin-top: 34px;
    }
}

@media (max-width: 575px) {
    .news__wrapper > a {
        margin-top: 25px;
    }
}

.news__title {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .news__title {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .news__title {
        font-size: 24px;
    }
}

.benefits__wrapper {
    text-align: center;
    margin: auto;
    max-width: 1200px;
    padding: 0 15px;
}

.common__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .common__title {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .common__title {
        font-size: 24px;
    }
}

.common__subtitle {
    margin-top: 30px;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.benefits__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: left;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 120px 50px;
}

@media (max-width: 991px) {
    .benefits__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 60px 30px;
    }
}

@media (max-width: 575px) {
    .benefits__inner {
        max-width: 360px;
        margin: auto;
        padding: 0;
    }
}

.description__title {
    color: #29293a;
    letter-spacing: normal;
    margin-top: 10px;
}

.description__title > h4 {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .description__title > h4 {
        font-size: 18px;
    }
}

.benefits__description {
    width: 33%;
    padding: 0 15px;
}

@media (max-width: 991px) {
    .benefits__description {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .benefits__description {
        margin-top: 20px;
        width: 100%;
    }

    .benefits__description:nth-child(1) {
        margin-top: 50px;
    }
}

.description__text {
    margin-top: 16px;
}

.description__text > ul > li {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.education {
    padding: 120px 0;
    background-color: #f5f6fa;
}

@media (max-width: 991px) {
    .education {
        padding: 50px 0;
    }
}

.education__wrapper {
    text-align: center;
    margin: auto;
    max-width: 1200px;
}

@media (max-width: 991px) {
    .education__wrapper {
        max-width: 540px;
    }
}

.education__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 991px) {
    .education__content .education__image {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: none;
        transform: none;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
    }
}

.education__item {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 38px;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.education__inner {
    padding: 0 15px;
}

@media (max-width: 991px) {
    .education__inner {
        margin-top: 50px;
    }
}

.item__text {
    margin-left: 36px;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #204995;
}

.item__text:hover {
    color: #37020e;
}

@media (max-width: 1120px) {
    .item__text {
        font-size: 18px;
        letter-spacing: 0;
        margin-left: 18px;
    }
}

.rfo {
    padding: 160px 0;
    display: block;
    color: white;
    background: url(../images/bottom_banner.jpg) center no-repeat;
    background-position: 54% 100%;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 575px) {
    .rfo {
        padding: 50px 0;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bottom_banner.jpg) center no-repeat;
    }
}

@media (max-width: 991px) {
    .rfo {
        padding: 80px 0;
    }
}

.rfo__wrapper {
    max-width: 1200px;
    margin: auto;
}

.rfo__content {
    padding: 0 30px;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.rfo__content > h5,
.rfo__content h4 {
    margin-top: 15px;
    font-weight: 400;
}

@media (max-width: 575px) {
    .rfo__content {
        padding: 0 15px;
    }

    .rfo__content h5 {
        font-size: 16px;
    }

    .rfo__content h4 {
        font-size: 18px;
    }

    .rfo__content h3 {
        font-size: 24px;
    }
}

.achievements {
    padding: 120px 0;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 991px) {
    .achievements {
        padding: 60px 0;
    }
}

.achievements__inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 991px) {
    .achievements__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 720px;
        margin: auto;
    }
}

.achievements__left {
    width: 55%;
}

@media (max-width: 991px) {
    .achievements__left {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: none;
        transform: none;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
    }
}

.achievements__right {
    width: 45%;
    margin: auto;
}

@media (max-width: 991px) {
    .achievements__right {
        width: 100%;
    }
}

.achievements__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .achievements__title {
        margin-top: 50px;
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .achievements__title {
        font-size: 24px;
    }
}

.achievements__text {
    padding: 0 15px;
}

.articles {
    background-color: #f5f6fa;
    padding: 72px 0;
    text-align: center;
}

.articles__button {
    margin-top: 70px;
}

@media (max-width: 991px) {
    .articles__button {
        margin-top: 35px;
    }
}

@media (max-width: 575px) {
    .articles__button {
        margin-top: 25px;
    }
}

.articles__button a > div {
    color: white;
}

.contacts {
    background-color: #f5f6fa;
}

.contacts__title {
    font-size: 36px;
    font-weight: 400;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding-left: 15px;
}

.contacts__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .contacts__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.contacts__right {
    width: 50%;
    margin-right: 1px;
}

@media (max-width: 1100px) {
    .contacts__right {
        width: 100%;
        height: 100%;
        min-height: 500px;
    }
}

.contacts__left {
    width: 50%;
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding: 0 15px;
}

@media (max-width: 1100px) {
    .contacts__left {
        width: 100%;
    }
}

.contacts__buttons {
    margin-top: 45px;
    margin-bottom: 15px;
    padding: 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.contacts__buttons > a {
    margin: 0;
}

.contacts__buttons > span {
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 575px) {
    .contacts__buttons {
        display: grid;
        row-gap: 15px;
        text-align: center;
        -ms-flex-pack: unset;
        justify-content: unset;
        margin: auto;
    }
}

.map {
    height: 100%;
}

@media (max-width: 1100px) {
    .map {
        min-height: 500px;
    }
}

.big-icon {
    font-size: 1.55rem;
    color: #204995;
}

.content-dubbed > .mdi-whatsapp {
    color: white;
}

.contacts__policy {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-left: 15px;
}

.contacts__policy > a {
    color: black;
}

.contacts__policy > a:hover {
    text-decoration: none;
    color: #790420;
}

@media (max-width: 575px) {
    .contacts__policy {
        display: block;
        margin-top: 15px;
    }
}

.purple__contacts {
    background-color: #29293a;
    color: #aeb1be;
}

.purple__contacts h3 {
    color: white;
}

.purple__contacts .contacts__left {
    padding: 72px 0;
}

.purple__contacts a {
    color: #aeb1be;
}

.purple__contacts .form {
    padding-left: 15px;
    padding-right: 20px;
}

.purple__contacts .contacts__buttons {
    padding-left: 15px;
    padding-right: 20px;
}

.white {
    color: white;
}

.white-hover {
    transition: all 0.3s ease-in-out;
}

.white-hover:hover {
    color: white !important;
}

.footer {
    color: #aeb1be;
    background-color: #15191f;
    padding-top: 80px;
    padding-bottom: 30px;
}

@media (max-width: 991px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

.footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 991px) {
    .footer__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 720px;
        -ms-flex-pack: unset;
        justify-content: unset;
    }
}

@media (max-width: 760px) {
    .footer__wrapper {
        max-width: 540px;
    }
}

.footer__column {
    width: 33%;
    padding: 0px 20px;
}

@media (max-width: 991px) {
    .footer__column {
        width: 50%;
    }

    .footer__column:nth-child(1) {
        width: 100%;
    }

    .footer__column:nth-child(1) h4 {
        margin-top: 0;
    }
}

@media (max-width: 575px) {
    .footer__column {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .footer__right {
        width: 60%;
    }
}

@media (max-width: 575px) {
    .footer__right {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .footer__middle {
        width: 40%;
    }
}

@media (max-width: 575px) {
    .footer__middle {
        width: 100%;
    }
}

.column__title {
    color: white;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

@media (max-width: 991px) {
    .column__title {
        font-size: 18px;
        letter-spacing: 0;
        margin-top: 50px;
    }
}

.column__content {
    margin-top: 35px;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 991px) {
    .column__content {
        margin-top: 14px;
        width: 100%;
    }
}

.column__wrapper div {
    margin-top: 10px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.column__wrapper div:nth-child(1) {
    padding-right: 15px;
}

.column__wrapper div:nth-child(2) {
    padding-left: 15px;
}

@media (max-width: 760px) {
    .column__wrapper div {
        width: 100%;
        padding: 0 !important;
    }
}

@media (max-width: 760px) {
    .column__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.contact__icon > a {
    color: #aeb1be;
    transition: all 0.3s ease-in-out;
}

.contact__icon > a:hover {
    color: white;
}

.footer__callback {
    margin-top: 45px;
}

.footer__callback > button {
    margin-left: 0;
}

@media (max-width: 991px) {
    .footer__callback {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .footer__callback {
        text-align: center;
    }
}

.form-label-outside {
    font-weight: 400;
    font-size: 16px;
}

.footer__line {
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 991px) {
    .footer__line {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 720px;
    }
}

@media (max-width: 760px) {
    .footer__line {
        max-width: 540px;
    }
}

hr {
    margin-top: 60px !important;
    margin: 0 20px;
    border-top: 1px solid #e8e9ee !important;
    border-top-color: #74757f !important;
}

.footer__rights {
    color: #74757f !important;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.footer__rights > .rights {
    margin-bottom: 0;
    padding: 0 15px;
}

.footer__rights > .rights > a {
    color: #74757f !important;
}

@media (max-width: 991px) {
    .footer__rights > .rights {
        margin-top: 18px;
    }
}

.footer__copyrights {
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .footer__copyrights {
        -ms-flex-pack: unset;
        justify-content: unset;
    }

    .footer__copyrights * {
        width: 100%;
        text-align: center;
    }
}

.forms__layout {
    padding: 72px 0;
}

.forms__layout .list__marked {
    padding: 0;
    list-style: none;
}

.forms__layout .list__marked li {
    margin-top: 9px;
    display: block;
    text-indent: -25px;
    padding-left: 25px;
}

.forms__layout .list__marked li::before {
    position: relative;
    top: 1px;
    display: inline-block;
    left: 25px;
    min-width: 25px;
    content: "\f054";
    font: 400 14px "Material Design Icons";
    line-height: inherit;
    color: #aeb1be;
}

.layout__content {
    padding: 72px;
}

@media (max-width: 1200px) {
    .layout__content {
        padding: 32px 0;
    }
}

.layout__forms {
    width: 100%;
    margin-top: 40px;
}

.layout__description {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 300;
}

.layout__description > li > a {
    color: #204995;
}

.layout__title {
    font-size: 36px;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .layout__title {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .layout__title {
        font-size: 24px;
    }
}

.layout__title-big {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 48px;
    color: #29293a;
}

.layout__subtitle h5 {
    font-size: 20px;
    font-weight: 400;
    padding: 0 15px;
}

.layout__buttons {
    margin-top: 45px;
    margin-left: 15px;
}

.layout__buttons > span {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 926px) {
    .layout__buttons > a {
        max-width: 200px;
        margin: 0 !important;
    }
}

@media (max-width: 926px) {
    .layout__buttons {
        display: grid;
        row-gap: 10px;
        margin: 10px;
    }
}

.layout__license {
    margin-left: 15px;
}

.layout__license-item {
    margin-top: 20px;
}

.layout__license-item a {
    color: black;
    transition: all 0.3s ease-in-out;
}

.layout__license-item a:hover {
    color: #790420;
}

.payment__frame {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border: 0px;
    z-index: 10000;
    border-style: none;
}

/** Components */
.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 14px 35px;
    font-size: 14px;
    line-height: 1.25;
    border: 1px solid;
    border-radius: 6px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.25s cubic-bezier(0.2, 1, 0.3, 1);
}

@media (max-width: 575px) {
    .button {
        padding: 14px 35px !important;
    }
}

.button-winona {
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 1100px) {
    .button-winona {
        margin-left: 10px;
    }
}

.button-lg {
    padding: 14px 55px;
    font-size: 16px;
    line-height: 1.5;
}

.button-primary:hover {
    color: #fff;
    background-color: #04408b;
    border-color: #04408b;
}

.button-primary-outline {
    color: #29293a;
    background-color: transparent;
    border-color: #204995;
}

.button-primary, .button-primary-outline:hover {
    color: #fff;
    background-color: #204995;
    border-color: #204995;
}

.button-winona .content-original,
.button-winona .content-dubbed {
    vertical-align: middle;
    transition: opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

.button-winona .content-original {
    display: block;
}

.button-winona .content-dubbed {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button-winona:hover .content-original {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
}

.button-winona:hover .content-dubbed {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateY(-50%);
    transform: translate3d(0, 0, 0) translateY(-50%);
}

.progress-linear {
    position: relative;
    text-align: left;
    margin-top: 35px;
}

.progress-linear-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: -5px;
}

.progress-linear-header > * {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.progress-linear-header > * {
    margin-bottom: 0;
}

.progress-linear-body {
    height: 2px;
    background: #f5f6fa;
}

.progress-linear-bar {
    width: 0;
    height: inherit;
    background: #204995;
    border-radius: inherit;
    transition: 1s all ease-in-out;
}

.progress-linear-counter::after {
    content: "%";
}

* + .progress-linear-body {
    margin-top: 6px;
}

* + .progress-linear-wrap {
    margin-top: 10px;
}

.forms__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {
    .forms__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.form {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0 15px;
}

.form > label {
    width: 100%;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: block;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.form > input,
.form textarea,
.form select {
    display: block;
    width: 100%;
    min-height: 48px;
    padding: 11px 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4875;
    color: #29293a;
    background-color: #fff;
    background-image: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    border: 1px solid #c5c6cd;
}

.form > textarea {
    height: 150px;
    min-height: 48px;
    max-height: 255px;
    resize: vertical;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
        margin-top: 10px;
    }
}

.form-gray {
    margin-top: 0;
}

.form-gray > textarea,
.form-gray input,
.form-gray select {
    background: rgba(41, 41, 58, 0.1);
}

.breadcrumbs {
    background: url(../images/bg.jpg) center no-repeat;
    background-size: cover;
}

.breadcrumbs__container {
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

@media (max-width: 1200px) {
    .breadcrumbs__container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {
    .breadcrumbs__container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .breadcrumbs__container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .breadcrumbs__container {
        width: 100%;
    }
}

.breadcrumbs__path {
    margin-top: 30px;
}

.breadcrumbs__list {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
}

@media (max-width: 768px) {
    .breadcrumbs__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.breadcrumbs__title {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 58px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .breadcrumbs__title {
        font-size: 54px;
    }
}

@media (max-width: 992px) {
    .breadcrumbs__title {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .breadcrumbs__title {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .breadcrumbs__title {
        font-size: 30px;
    }
}

.breadcrumb__item {
    color: #74757f;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.breadcrumb__item.active {
    color: #204995;
}

.breadcrumb__item > a {
    color: #74757f;
}

.breadcrumb__item:nth-last-child(1)::after {
    content: "";
}

.breadcrumb__item::after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    top: 51%;
    right: -5px;
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    color: inherit;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}