<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Информация о способах оплаты</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>Информация о способах оплаты</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="forms__layout">
        <p class="m-0"><strong>Оплата осуществляется с помошью банковской карты.</strong></p>
        <p>Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку
            <strong>Оплата</strong>. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих
            платёжных систем:
        </p>
        <ul class="list-0">
            <li class="d-flex align-items-center">МИР<img src="/assets/images/payment/mir.png" alt="МИР"></li>
            <li class="d-flex align-items-center">VISA International<img src="/assets/images/payment/visa.png"
                                                                         alt="VISA"></li>
            <li class="d-flex align-items-center">Mastercard Worldwide<img src="/assets/images/payment/master.png"
                                                                           alt="Mastercard"></li>
            <li class="d-flex align-items-center">JCB<img src="/assets/images/payment/jcb.png" alt="JCB"></li>
        </ul>
        <ul class="list-0">
            <li class="mt-3">Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз
                ПАО СБЕРБАНК.
                Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с
                использованием
                протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения
                интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения
                платежа
                также может потребоваться ввод специального пароля.
            </li>
            <li class="mt-3">Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
                персональной информации
                обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за
                исключением
                случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам
                осуществляется в
                строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
            </li>
        </ul>
    </div>
</div>
