<div class="container-wrapper">
    <section class="title">
        <div class="container title__container">
            <h3 class="title__pretitle">Фелинология для всех</h3>
            <h1 class="title__text">Российское фелинологическое общество</h1>
            <h5 class="title__subtitle">Профессиональное разведение кошек, основанное на знаниях генетики и
                стандартах</h5>
            <div class="title__buttons">
                <a routerLink="/membership" class="title__button">Присоединиться</a>
                <a href="#benefits" class="title__more">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="info__wrapper container">
            <div class="info__data">
                <h3 class="info__title wow-outer">
                    <span class="wow slideInUp">Кто мы такие?</span>
                </h3>
                <p class="info__text">
                    Региональное отделение Российской фелинологической организации "Уральский племенной
                    фелинологический
                    центр" - недавно открывшийся филиал РФО на Урале.<br/>
                    Мы занимаемся всем, что связано с фелинологией, включая разведение, обучение и регистрацию ваших
                    успехов.
                </p>
                <a class="info__button" href="#">УЗНАТЬ БОЛЬШЕ  ❯</a>
            </div>
            <img class="info__image" src="/assets/images/cat-icon.png" alt="cat-icon">
        </div>
    </section>
    <section class="benefits" id="benefits">
        <div class="container">
            <div class="benefits__title">
                <p>наши преимущества</p>
            </div>
            <div class="benefits__items">
                <div class="benefit__item">
                    <div class="benefits__card">
                        <div class="benefits__card-title wow slideInDown">
                            <h4>ЕДИНЫЙ ВСЕРОССИЙСКИЙ РЕЕСТР ДОКУМЕНТОВ (ЕВРД) РФО</h4>
                        </div>
                        <div class="benefits__card-text">
                            <ul class="list-0">
                                <li>
                                    Выдача документов на бланках с пятью степенями защиты ( водяные знаки, УФ-печать,
                                    QR-kod). Бумажный носитель отправляется почтой или курьером заказчику.
                                </li>
                                <li>
                                    Онлайн отправка электронной формы, в течении 24 часов с момента заказа, на e-mail , с
                                    возможностью проверки достоверности документа по средству сканирования QR-koda.
                                    Электронная форма защищена электронно-цифровой подписью и зарегистрирована в ЕВРД РФО.
                                    Может быть распечатана владельцем самостоятельно.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="benefits__card">
                        <p class="benefits__number">1</p>
                    </div>
                </div>
                <div class="benefit__item">
                    <div class="benefits__card">
                        <p class="benefits__number">2</p>
                    </div>
                    <div class="benefits__card">
                        <div class="benefits__card-title wow slideInDown">
                            <h4>ЕДИНЫЙ ВСЕРОССИЙСКИЙ РЕЕСТР ПИТОМНИКОВ КОШЕК</h4>
                        </div>
                        <div class="benefits__card-text">
                            <ul class="list-0">
                                <li>Регистрация питомников в единой базе, с выдачей подтверждающего Сертификата.</li>
                                <li>
                                    Выдача Сертификата на бланке с тремя степенями защиты ( водяные знаки, УФ-печать,
                                    QR-kod). Бумажный носитель отправляется почтой или курьером заказчику.
                                </li>
                                <li>
                                    Онлайн отправка электронной формы, в течении 24 часов ( для перерегистрации
                                    действующих питомников) и 72 часов ( для регистрации новых питомников) с момента заказа, на
                                    e-mail, с возможностью проверки достоверности документа по средству сканирования QR-koda.
                                    Электронная форма защищена электронно-цифровой подписью и зарегистрирована в ЕВРД РФО.
                                    Может быть распечатана владельцем самостоятельно.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="benefit__item">
                    <div class="benefits__card">
                        <div class="benefits__card-title wow slideInDown">
                            <h4>МЕЖДУНАРОДНЫЙ ВЫСТАВОЧНЫЙ РЕЙТИНГ</h4>
                        </div>
                        <div class="benefits__card-text">
                            <ul class="list-0">
                                <li>Автоматизированный сервис учета выставочных результатов.</li>
                                <li>Удобный софт для организации и проведения выставок , на протяжении всего
                                    выставочного
                                    процесса. От момента лицензирования до проведения Бест ин Шоу.
                                </li>
                                <li>
                                    Удобная выставочная программа, с возможностью выдачи всех документов ( Диплом,
                                    Титульный сертификат и др.) Международный рейтинг : Кошек, Заводчиков, Питомников, Клубов.
                                    Честный подсчет баллов.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="benefits__card">
                        <p class="benefits__number">3</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="education">
        <div class="education__wrapper education__container">
            <div class="education__content">
                <img class="education__image" src="/assets/images/ipad-edu.png" alt="Обучение">
                <div class="education__inner">
                    <h3 class="education__title">ОБУЧАЙТЕСЬ С РФО </h3>
                    <p class="education__subtitle">Профессиональное разведение кошек, основанное на знаниях генетики и
                        стандартах</p>
                    <div class="education__item wow slideInLeft" style="margin-top: 0">
                        <img class="education__icon" src="/assets/images/icons/auction.png" alt="">
                        <a routerLink="/empty" class="education__item-text">Обучение судей</a>
                    </div>
                    <div class="education__item wow slideInLeft">
                        <img class="education__icon" src="/assets/images/icons/assistant.png" alt="">
                        <a routerLink="/empty" class="education__item-text">Обучение ассистентов судей</a>
                    </div>
                    <div class="education__item wow slideInLeft">
                        <img class="education__icon" src="/assets/images/icons/manager.png" alt="">
                        <a routerLink="/empty" class="education__item-text">Обучение шоу-менеджеров</a>
                    </div>
                    <div class="education__item wow slideInLeft">
                        <img class="education__icon" src="/assets/images/icons/president.png" alt="">
                        <a routerLink="/empty" class="education__item-text">Обучение Президентов клубов</a>
                    </div>
                    <div class="education__item wow slideInLeft">
                        <img class="education__icon" src="/assets/images/icons/steward.png" alt="">
                        <a routerLink="/empty" class="education__item-text">Школа стюардов</a>
                    </div>
                    <div class="education__item wow slideInLeft">
                        <img class="education__icon" src="/assets/images/icons/paw-print.png" alt="">
                        <a routerLink="/empty" class="education__item-text">Школа фелинологов</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="contacts__left">
            <h3 class="contacts__title">Написать нам</h3>
            <form class="forms" method="post">
                <div class="forms__wrapper">
                    <div class="form">
                        <label for="feedbackName">Имя</label>
                        <input id="feedbackName" type="text" required>
                    </div>
                    <div class="form">
                        <label for="feedbackPhone">Телефон</label>
                        <input id="feedbackPhone" type="text">
                    </div>
                </div>
                <div class="form w-100">
                    <label for="feedbackEmail">Ваш E-mail</label>
                    <input id="feedbackEmail" type="text" required>
                </div>
                <div class="form w-100">
                    <label for="feedbackMessage">Ваше сообщение</label>
                    <textarea id="feedbackMessage" required></textarea>
                </div>
                <div class="contacts__buttons">
                    <button type="submit" class="contacts__send">отправить</button>
                    <span>или использовать</span>
                    <a class="contacts__whatsapp"
                       href="https://api.whatsapp.com/send?phone=79089037937" target="_blank">
                        <span class="icon novi-icon mdi mdi-whatsapp big-icon"></span>
                        whatsapp
                    </a>
                </div>
            </form>
            <span class="contacts__policy">Отправляя форму вы соглашаетесь с
                            <a routerLink="/personal-data"><u>"Политикой обработки персональных данных"</u></a></span>
        </div>
        <div class="contacts__right">
            <div id="map" class="map"></div>
        </div>
    </section>
    <section class="invite">
        <div class="invite__wrapper container">
            <div class="invite__text">
                <h2 class="invite__title">Присоединяйтесь сегодня</h2>
                <p class="invite__subtitle">Профессиональное разведение кошек, основанное на знаниях генетики и
                    стандартах</p>
            </div>
            <div class="invite__personal">
                <a routerLink="/membership">ПРИСОЕДИНИТЬСЯ</a>
            </div>
        </div>
    </section>
</div>
