<header class="header" id="header">
    <div class="header-container" id="navbar-main">
        <div class="d-flex">
            <button class="burger" type="button" id="burger">
                <span>Menu</span>
            </button>
            <a class="brand c-navbar-brand" routerLink="/"><img src="/assets/images/header/logo-text.png"
                                                                alt="Региональное отделение Российской фелинологической организации 'Уральский племенной фелинологический центр'"></a>
        </div>
        <nav class="nav-content" id="nav-content">
            <ul class="nav-list list-0">
                <li class="nav-item">
                    <a class="nav-link pt-0" routerLink="/">главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav">РФО онлайн</a>
                    <ul class="subnav list-0">
                        <li class="nav-sublink"><a routerLink="/membership">Оплата членского взноса</a></li>
                        <li class="nav-sublink"><a routerLink="/nursery">Регистрация питомника</a></li>
                        <li class="nav-sublink"><a routerLink="/children">Регистрация помета</a></li>
                        <li class="nav-sublink"><a routerLink="/pedigree">Родословная</a></li>
                        <li class="nav-sublink"><a routerLink="/school">Школа фелинологов</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Заявка на выставку</a></li>
                        <li class="nav-sublink"><a routerLink="/transfer">Трансфер</a></li>
                        <li class="nav-sublink"><a routerLink="/certificate">Справка об отсутствии <br/>
                            племенной ценности (для вывоза <br/> за пределы РФ)</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav">РФО</a>
                    <ul class="subnav list-0">
                        <li class="nav-sublink"><a routerLink="/empty">Устав</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Правление</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Комиссии</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Типовые бланки</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Новости</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Реквизиты и платежи</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Чатсые вопросы</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Контакты</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav">судьи</a>
                    <ul class="subnav list-0">
                        <li class="nav-sublink"><a routerLink="/empty">Судьи РФО</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Гостевые</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Ассистенты судей</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav">Стандарты</a>
                    <ul class="subnav list-0">
                        <li class="nav-sublink"><a routerLink="/empty">Длинношерстная категория</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Полудлинношерстная категория</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Короткошерстная категория</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Восточная группа</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Бесшерстная</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link has-subnav" routerLink="#">Правила</a>
                    <ul class="subnav list-0">
                        <li class="nav-sublink"><a routerLink="/empty">Шоу-Правила</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Для заводчика</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Судья</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Ученик судьи</a></li>
                        <li class="nav-sublink"><a routerLink="/empty">Общие правила</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a class="personal__area">Личный кабинет</a>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__column footer__left">
            <h4 class="column__title">
                Уважаемые любители кошек!
            </h4>
            <div class="column__content">
                На нашем сайте Вы сможете воспользоваться удобным онлайн сервисом заказа документов, с их
                последующей
                регистрацией в ЕДИНОМ ВСЕРОССИЙСКОМ РЕЕСТРЕ Все бланки РФО имеют несколько степеней защиты: QR код,
                водяные знаки, УФ- печать. РФО подготовила для Вас международный Рейтинг и различные формы обучения.
                Наша команда соединила стандарты традиционного и рингового судейства, что сделает выставки более
                интересными и динамичными для Вас! Мы полны планов и креативных проектов. Присоединяйтесь к Нам!
            </div>
        </div>
        <div class="footer__column footer__middle">
            <h4 class="column__title">
                Контактная информация
            </h4>
            <div class="column__content">
                624130, Россия, Новоуральск, Красногвардейский проезд, д. 4
                +7 (908) 903-79-37
                upfc@upfc-rfo-cat.ru
                <div class="content__icons">
                    <div class="contact__icon">
                        <span class="icon novi-icon icon-md icon-modern mdi mdi-whatsapp"></span>
                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"
                           target="_blank">
                            WhatsApp</a>
                    </div>
                    <div class="contact__icon">
                        <span class="icon novi-icon icon-md icon-modern mdi mdi-vk"> </span>
                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"
                           target="_blank">
                            ВКонтакте</a>
                    </div>
                    <div class="contact__icon">
                        <span class="icon novi-icon icon-md icon-modern mdi mdi-telegram"></span>
                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"
                           target="_blank">
                            Telegram</a>
                    </div>
                    <div class="contact__icon">
                        <span class="icon novi-icon icon-md icon-modern mdi mdi-instagram"></span>
                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"
                           target="_blank">
                            Instagram</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__column footer__right">
            <h4 class="column__title">
                Заказать обратный звонок
            </h4>
            <form [formGroup]="footerForm" (ngSubmit)="submit()">
                <div class="column__content">
                    <div class="column__wrapper d-flex justify-content-between">
                        <div class="form form-label-outside">
                            <label>Имя</label>
                            <input formControlName="name" type="text"
                                   [ngClass]="name.errors && name.touched ? 'border border-danger' : ''">
                            <span *ngIf="name.errors?.['required'] && name.touched"
                                  class="form-validation">Обязательно.</span>
                        </div>
                        <div class="form form-label-outside">
                            <label>Телефон</label>
                            <input formControlName="phone" type="text" prefix="+7 " mask="(000)-000-00-00"
                                   [ngClass]="phone.errors && phone.touched ? 'border border-danger' : ''">
                            <span style="right: 15px;" *ngIf="phone.errors?.['required'] && phone.touched"
                                  class="form-validation">Обязательно.</span>
                            <span *ngIf="phone.errors?.['minlength'] && phone.touched" class="form-validation">Некорректный номер.</span>
                        </div>
                    </div>
                    <div class="footer__callback">
                        <button type="submit" class="button__primary">заказать</button>
                    </div>
                </div>
                <div *ngIf="showSuccessLabel">
                    <p class="text-success pt-2">Заявка отправлена</p>
                </div>
            </form>
        </div>
    </div>
    <div class="footer__line">
        <hr>
    </div>
    <div class="footer__wrapper">
        <div class="footer__copyrights d-flex mt-2 justify-content-between w-100 align-items-center flex-wrap">
            <a class="brand c-navbar-brand ml-3" routerLink="/">
                <img src="/assets/images/header/logo-text.png"
                     alt="Региональное отделение Российской фелинологической организации &quot;Уральский племенной фелинологический центр&quot;"></a>
            <div class="footer__rights">
                <p class="rights">
                    <span>©&nbsp;</span>
                    <span class="copyright-year"></span>
                    <span>&nbsp;</span>
                    <span>Все права защищены.</span>
                    <span>&nbsp;</span><br class="d-sm-none">
                    <a routerLink="/requisites">Реквизиты</a><span>&nbsp;</span><br class="d-sm-none">
                    <a routerLink="/personal">Политика Конфиденциальности</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
