<header class="header" id="header">
<!--    <div class="navbar-wrapper">-->
<!--        <div class="navbar-aside">-->
<!--            <div class="d-flex">-->
<!--                <button class="burger" type="button" id="burger">-->
<!--                    <span>Menu</span>-->
<!--                </button>-->
<!--                <div>-->
<!--                    <a class="brand c-navbar-brand" routerLink="/"><img src="/assets/images/header/logo-text.png"-->
<!--                                                                        alt="Региональное отделение Российской фелинологической организации &quot;Уральский племенной фелинологический центр&quot;"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button class="navbar-show-aside" id="show-aside-content">-->
<!--                <span></span>-->
<!--            </button>-->
<!--            <div class="navbar-aside-content" id="navbar-aside-content">-->
<!--                <article class="navbar-info-phone">-->
<!--                    <div class="unit align-items-center">-->
<!--                        <div class="unit-left">-->
<!--                            <span class="icon novi-icon icon-md icon-modern mdi mdi-phone"></span>-->
<!--                        </div>-->
<!--                        <div class="unit-body">-->
<!--                            <ul class="list-0">-->
<!--                                <li><a class="link-default contact-link" href="tel:+79089037937">+7 (908) 903-79-37</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <article class="navbar-info-email ml-3">-->
<!--                    <div class="unit align-items-center">-->
<!--                        <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-email"></span>-->
<!--                        </div>-->
<!--                        <div class="unit-body">-->
<!--                            <ul class="list-0">-->
<!--                                <li><a class="link-default contact-link">upfc@upfc-rfo-cat.ru</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <article class="navbar-info-gcc">-->
<!--                    <div class="unit align-items-center">-->
<!--                        <div class="unit-body">-->
<!--                            <a class="brand c-navbar-brand" routerLink="/"><img src="assets\images\header\gcclogo.png" alt=""-->
<!--                                                                                width="216" height="61"></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </article>-->
<!--                <a class="button button-primary-outline button-winona" routerLink="/empty">-->
<!--                    <div class="content-original">ЛИЧНЫЙ КАБИНЕТ</div>-->
<!--                    <div class="content-dubbed">ЛИЧНЫЙ КАБИНЕТ</div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="navbar-main" id="navbar-main">-->
<!--        <nav class="nav-content" id="nav-content">-->
<!--            <ul class="nav-list list-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link pt-0" routerLink="/">главная</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link has-subnav">рфо онлайн</a>-->
<!--                    <ul class="subnav list-0">-->
<!--                        <li class="nav-sublink"><a routerLink="/membership">ОПЛАТА ЧЛЕНСКОГО ВЗНОСА</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/nursery">РЕГИСТРАЦИЯ ПИТОМНИКА</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/children">РЕГИСТРАЦИЯ ПОМЕТА</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/pedigree">РОДОСЛОВНАЯ</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/school">ШКОЛА ФЕЛИНОЛОГОВ</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">ЗАЯВКА НА ВЫСТАВКУ</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/transfer">ТРАНСФЕР</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/certificate">СПРАВКА ОБ ОТСУТСТВИИ ПЛЕМЕННОЙ ЦЕННОСТИ (-->
<!--                            ДЛЯ ВЫВОЗА ЗА ПРЕДЕЛЫ РФ)</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link has-subnav">рфо</a>-->
<!--                    <ul class="subnav list-0">-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">устав</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">правление</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">комиссии</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">типовые бланки</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">новости</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">реквизиты и платежи</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">чатсые вопросы</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">контакты</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" routerLink="/empty">клубы</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link has-subnav">судьи</a>-->
<!--                    <ul class="subnav list-0">-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">судьи рфо</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">гостевые</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">ассистенты судей</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link has-subnav" routerLink="/empty">выставки</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" routerLink="/empty">портфолио</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link has-subnav">стандарты</a>-->
<!--                    <ul class="subnav list-0">-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Длинношерстная категория</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Полудлинношерстная категория</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Короткошерстная категория</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Восточная группа</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Бесшерстная</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link has-subnav" routerLink="#">правила</a>-->
<!--                    <ul class="subnav list-0">-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Шоу-Правила</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Для заводчика</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Судья</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Ученик судьи</a></li>-->
<!--                        <li class="nav-sublink"><a routerLink="/empty">Общие правила</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
</header>
<router-outlet></router-outlet>
<!--<footer class="footer">-->
<!--    <div class="footer__wrapper">-->
<!--        <div class="footer__column footer__left">-->
<!--            <h4 class="column__title">-->
<!--                Уважаемые любители кошек!-->
<!--            </h4>-->
<!--            <div class="column__content">-->
<!--                На нашем сайте Вы сможете воспользоваться удобным онлайн сервисом заказа документов, с их-->
<!--                последующей-->
<!--                регистрацией в ЕДИНОМ ВСЕРОССИЙСКОМ РЕЕСТРЕ Все бланки РФО имеют несколько степеней защиты: QR код,-->
<!--                водяные знаки, УФ- печать. РФО подготовила для Вас международный Рейтинг и различные формы обучения.-->
<!--                Наша команда соединила стандарты традиционного и рингового судейства, что сделает выставки более-->
<!--                интересными и динамичными для Вас! Мы полны планов и креативных проектов. Присоединяйтесь к Нам!-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer__column footer__middle">-->
<!--            <h4 class="column__title">-->
<!--                Контактная информация-->
<!--            </h4>-->
<!--            <div class="column__content">-->
<!--                624130, Россия, Новоуральск, Красногвардейский проезд, д. 4-->
<!--                +7 (908) 903-79-37-->
<!--                upfc@upfc-rfo-cat.ru-->
<!--                <div class="content__icons">-->
<!--                    <div class="contact__icon">-->
<!--                        <span class="icon novi-icon icon-md icon-modern mdi mdi-whatsapp"></span>-->
<!--                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"-->
<!--                           target="_blank">-->
<!--                            WhatsApp</a>-->
<!--                    </div>-->
<!--                    <div class="contact__icon">-->
<!--                        <span class="icon novi-icon icon-md icon-modern mdi mdi-vk"> </span>-->
<!--                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"-->
<!--                           target="_blank">-->
<!--                            ВКонтакте</a>-->
<!--                    </div>-->
<!--                    <div class="contact__icon">-->
<!--                        <span class="icon novi-icon icon-md icon-modern mdi mdi-telegram"></span>-->
<!--                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"-->
<!--                           target="_blank">-->
<!--                            Telegram</a>-->
<!--                    </div>-->
<!--                    <div class="contact__icon">-->
<!--                        <span class="icon novi-icon icon-md icon-modern mdi mdi-instagram"></span>-->
<!--                        <a class="link-default" href="https://api.whatsapp.com/send?phone=79089037937"-->
<!--                           target="_blank">-->
<!--                            Instagram</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer__column footer__right">-->
<!--            <h4 class="column__title">-->
<!--                Заказать обратный звонок-->
<!--            </h4>-->
<!--            <form [formGroup]="footerForm" (ngSubmit)="submit()">-->
<!--                <div class="column__content">-->
<!--                    <div class="column__wrapper d-flex justify-content-between">-->
<!--                        <div class="form form-label-outside">-->
<!--                            <label>Имя</label>-->
<!--                            <input formControlName="name" type="text" [ngClass]="name.errors && name.touched ? 'border border-danger' : ''">-->
<!--                            <span *ngIf="name.errors?.['required'] && name.touched" class="form-validation">Обязательно.</span>-->
<!--                        </div>-->
<!--                        <div class="form form-label-outside">-->
<!--                            <label>Телефон</label>-->
<!--                            <input formControlName="phone" type="text" prefix="+7 " mask="(000)-000-00-00"-->
<!--                                [ngClass]="phone.errors && phone.touched ? 'border border-danger' : ''">-->
<!--                            <span style="right: 15px;" *ngIf="phone.errors?.['required'] && phone.touched" class="form-validation">Обязательно.</span>-->
<!--                            <span *ngIf="phone.errors?.['minlength'] && phone.touched" class="form-validation">Некорректный номер.</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="footer__callback">-->
<!--                        <button type="submit" class="button button-primary button-primary-outline button-winona">-->
<!--                            <div class="content-original">заказать</div>-->
<!--                            <div class="content-dubbed">заказать</div>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div *ngIf="showSuccessLabel">-->
<!--                    <p class="text-success pt-2">Заявка отправлена</p>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="footer__line">-->
<!--        <hr>-->
<!--    </div>-->
<!--    <div class="footer__wrapper">-->
<!--        <div class="footer__copyrights d-flex mt-2 justify-content-between w-100 align-items-center flex-wrap">-->
<!--            <a class="brand c-navbar-brand ml-3" routerLink="/">-->
<!--                <img src="/assets/images/header/logo-light.png"-->
<!--                     alt="Региональное отделение Российской фелинологической организации &quot;Уральский племенной фелинологический центр&quot;"></a>-->
<!--            <div class="footer__rights">-->
<!--                <p class="rights">-->
<!--                    <span>©&nbsp;</span>-->
<!--                    <span class="copyright-year"></span>-->
<!--                    <span>&nbsp;</span>-->
<!--                    <span>Все права защищены.</span>-->
<!--                    <span>&nbsp;</span><br class="d-sm-none">-->
<!--                    <a routerLink="/requisites">Реквизиты</a><span>&nbsp;</span><br class="d-sm-none">-->
<!--                    <a routerLink="/personal">Политика Конфиденциальности</a>.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
