<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Здесь пока ничего нет</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>В работе</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="form__container">
    <div class="container">
        <div class="forms__layout">
            <p class="text-white">Но скоро будет...</p>
        </div>
    </div>
</div>
