<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Информация о возврате</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>Информация о возврате</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="forms__layout">
        <p class="m-0"><strong>Возврат товара</strong></p>
        <p>Срок возврата товара надлежащего качества составляет 30 дней с момента получения товара.</p>
        <p>Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих дней (срок
            зависит от банка, который выдал вашу банковскую карту).</p>
    </div>
</div>
