<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Правление</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item">
                    <a routerLink="/">РФО</a>
                </li>
                <li class="breadcrumb__item active"><span>Правление</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="management__container">
    <div class="container">
        <div class="forms__layout">
            <div class="management__cards">
                <div class="management__card">
                    <div class="card__person"><img src="/assets/images/management/person2.enc" alt=""></div>
                    <div class="card__info">
                        <h5>Коновалова Светлана Владимировна</h5>
                        <p>Президент</p>
                        <p>+7 (908) 903-79-37</p>
                        <p>upfc@upfc-rfo-cat.ru</p>
                    </div>
                </div>
                <div class="management__card">
                    <div class="card__person"><img src="/assets/images/management/person1.jpg" alt=""></div>
                    <div class="card__info">
                        <h5>Галактионова Людмила Валентиновна</h5>
                        <p>Ревизор</p>
                        <p>+7 (900) 036-10-77</p>
                        <p>upfc@upfc-rfo-cat.ru</p>
                    </div>
                </div>
                <div class="management__card">
                    <div class="card__person"><img src="/assets/images/management/person3.jpg" alt=""></div>
                    <div class="card__info">
                        <h5>Коновалов Михаил Антонович</h5>
                        <p>Пресс-секретарь</p>
                        <p>+7 (902) 257-49-56</p>
                        <p>admin@upfc-rfo-cat.ru</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
