<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.5.95/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/qiv0zqm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="icon" href="assets/images/logo.png">
    
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    
    <title>Оплата членского взноса</title></head>

<body>

    <header class="header" id="header">
        <div class="navbar-wrapper">
            <div class="navbar-aside">
                <div class="d-flex">
                    <button class="burger" type="button" id="burger">
                        <span>Menu</span>
                    </button>
                    <div>
                        <a class="brand c-navbar-brand" href="/"><img src="/assets/images/header/logo-text.png"
                                                                            alt="Региональное отделение Российской фелинологической организации &quot;Уральский племенной фелинологический центр&quot;"></a>
                    </div>
                </div>
                <button class="navbar-show-aside" id="show-aside-content">
                    <span></span>
                </button>
                <div class="navbar-aside-content" id="navbar-aside-content">
                    <article class="navbar-info-phone">
                        <div class="unit align-items-center">
                            <div class="unit-left">
                                <span class="icon novi-icon icon-md icon-modern mdi mdi-phone"></span>
                            </div>
                            <div class="unit-body">
                                <ul class="list-0">
                                    <li><a class="link-default contact-link" href="tel:+79219956704">+7 (908) 903-79-37</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="navbar-info-email ml-3">
                        <div class="unit align-items-center">
                            <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-email"></span>
                            </div>
                            <div class="unit-body">
                                <ul class="list-0">
                                    <li><a class="link-default contact-link">upfc@rfo-upfc-cat.ru (Служба поддержки)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="navbar-info-gcc">
                        <div class="unit align-items-center">
                            <div class="unit-body">
                                <a class="brand c-navbar-brand" href="/"><img src="assets\images\header\gcclogo.png" alt=""
                                                                                    width="216" height="61"></a>
                            </div>
                        </div>
                    </article>
                    <a class="button button-primary-outline button-winona" href="/technical-works">
                        <div class="content-original">ЛИЧНЫЙ КАБИНЕТ</div>
                        <div class="content-dubbed">ЛИЧНЫЙ КАБИНЕТ</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-main" id="navbar-main">
            <nav class="nav-content" id="nav-content">
                <ul class="nav-list list-0">
                    <li class="nav-item">
                        <a class="nav-link pt-0" href="#">главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-subnav" href="#">рфо онлайн</a>
                        <ul class="subnav list-0">
                            <li class="nav-sublink"><a href="/membership">ОПЛАТА ЧЛЕНСКОГО ВЗНОСА</a></li>
                            <li class="nav-sublink"><a href="/nursery">РЕГИСТРАЦИЯ ПИТОМНИКА</a></li>
                            <li class="nav-sublink"><a href="/litter">РЕГИСТРАЦИЯ ПОМЕТА</a></li>
                            <li class="nav-sublink"><a href="/pedigree">РОДОСЛОВНАЯ</a></li>
                            <li class="nav-sublink"><a href="/school">ШКОЛА ФЕЛИНОЛОГОВ</a></li>
                            <li class="nav-sublink"><a href="/technical-works">ЗАЯВКА НА ВЫСТАВКУ</a></li>
                            <li class="nav-sublink"><a href="/transfer">ТРАНСФЕР</a></li>
                            <li class="nav-sublink"><a href="/certificate">СПРАВКА ОБ ОТСУТСТВИИ ПЛЕМЕННОЙ ЦЕННОСТИ (
                                    ДЛЯ ВЫВОЗА ЗА ПРЕДЕЛЫ РФ)</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-subnav" href="#">рфо</a>
                        <ul class="subnav list-0">
                            <li class="nav-sublink"><a href="/technical-works">устав</a></li>
                            <li class="nav-sublink"><a href="/technical-works">правление</a></li>
                            <li class="nav-sublink"><a href="/technical-works">комиссии</a></li>
                            <li class="nav-sublink"><a href="/technical-works">типовые бланки</a></li>
                            <li class="nav-sublink"><a href="/technical-works">новости</a></li>
                            <li class="nav-sublink"><a href="/technical-works">реквизиты и платежи</a></li>
                            <li class="nav-sublink"><a href="/technical-works">чатсые вопросы</a></li>
                            <li class="nav-sublink"><a href="/technical-works">контакты</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">клубы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-subnav" href="#">судьи</a>
                        <ul class="subnav list-0">
                            <li class="nav-sublink"><a href="/technical-works">судьи рфо</a></li>
                            <li class="nav-sublink"><a href="/technical-works">гостевые</a></li>
                            <li class="nav-sublink"><a href="/technical-works">ассистенты судей</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-subnav" href="#">выставки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-subnav" href="#">стандарты</a>
                        <ul class="subnav list-0">
                            <li class="nav-sublink"><a href="/technical-works">Длинношерстная категория</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Полудлинношерстная категория</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Короткошерстная категория</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Восточная группа</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Бесшерстная</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-subnav" href="#">правила</a>
                        <ul class="subnav list-0">
                            <li class="nav-sublink"><a href="/technical-works">Шоу-Правила</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Для заводчика</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Судья</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Ученик судьи</a></li>
                            <li class="nav-sublink"><a href="/technical-works">Общие правила</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <h1 class="breadcrumbs__title">Оплата членского взноса</h1>
            <div class="breadcrumbs__path">
                <ul class="breadcrumbs__list pl-0">
                    <li class="breadcrumb__item pl-0">
                        <a href="/">Российское Фелинологическое Общество</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="/">РФО ОНЛАЙН</a>
                    </li>
                    <li class="breadcrumb__item active"><span>Оплата членского взноса</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="forms__layout">
            <h3 class="layout__title" style="text-align: center;">Заполните форму для "Оплаты ежегодного членского
                взноса"</h3>
            <div class="layout__content d-flex justify-content-center flex-wrap">
                <ul class="layout__description list-0 w-100">
                    <li>Целевой взнос 950 рублей (Членский ежегодный взнос действует до 31 декабря текущего года).
                    </li>
                    <li><a href="oplata-chlenskogo-vznosa/">Дисконтная клубная карта ФелиСити ( бессрочная)</a></li>
                </ul>
                <form class="layout__forms" action="forms">
                    <div class="forms__wrapper">
                        <div class="form form-gray">
                            <label for="surname">Фамилия</label>
                            <input id="surname" type="text" required>
                        </div>
                        <div class="form form-gray">
                            <label for="name">Имя</label>
                            <input id="name" type="text">
                        </div>
                    </div>
                    <div class="forms__wrapper">
                        <div class="form form-gray">
                            <label for="patronymic">Отчество</label>
                            <input id="patronymic" type="text" required>
                        </div>
                        <div class="form form-gray">
                            <label for="region">Субъект РФ (номер)</label>
                            <input id="region" type="text" disabled value="66" required></input>
                        </div>
                    </div>
                    <div class="form form-gray w-100">
                        <label for="address">Адрес:(адрес местожительства с индексом)</label>
                        <input id="address" type="text" required></input>
                    </div>
                    <div class="forms__wrapper">
                        <div class="form form-gray">
                            <label for="email">Ваш E-mail</label>
                            <input id="email" type="text" required>
                        </div>
                        <div class="form form-gray">
                            <label for="phone">Ваш Телефон</label>
                            <input id="phone" type="text"></input>
                        </div>
                    </div>
                    <div class="form form-gray w-100">
                        <label for="comment">Комментарий</label>
                        <textarea id="comment" type="text" required></textarea>
                    </div>
                </form>
                <div class="layout__buttons w-100">
                    <button class="button button-primary button-primary-outline button-winona m-0 mr-2"
                        href="https://rfo-cat.ru/texnicheskie-rabotyi">
                        <div class="content-original">отправить</div>
                        <div class="content-dubbed">отправить</div>
                    </button>
                    <span>после отправки заполненной формы, вам необходимо оплатить целевой взнос
                    </span>
                    <button class="button button-primary-outline button-winona m-0 ml-2"
                        href="https://rfo-cat.ru/texnicheskie-rabotyi">
                        <div class="content-original">
                            оплатить
                        </div>
                        <div class="content-dubbed">
                            оплатить
                        </div>
                    </button>
                </div>
                <div class="layout__license w-100">
                    <ul class="list-0">
                        <li class="layout__license-item">Отправляя форму вы соглашаетесь с <a
                                style="text-align: center;" href="soglashenie-ob-obrabotke-personalnyix-dannyix">"Политикой
                                обработки персональных данных"</a></li>
                        <li class="layout__license-item">Информация о "Способах оплаты"</li>
                        <li class="layout__license-item">Информация о "Доставке"</li>
                        <li class="layout__license-item">Информация о "Возврате"</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="contacts purple__contacts">
        <div class="contacts__wrapper">
            <div class="contacts__left pb-0">
                <h3 class="contacts__title">Написать нам</h3>
                <form class="forms" action="forms">
                    <div class="forms__wrapper">
                        <div class="form">
                            <label for="name">Имя</label>
                            <input id="name" type="text" required>
                        </div>
                        <div class="form">
                            <label for="phone">Телефон</label>
                            <input id="phone" type="text">
                        </div>
                    </div>
                    <div class="form w-100">
                        <label for="email">Ваш E-mail</label>
                        <input id="email" type="text" required>
                    </div>
                    <div class="form w-100">
                        <label for="message">Ваше сообщение</label>
                        <textarea id="message" type="text" required></textarea>
                    </div>
                </form>
                <div class="contacts__buttons">
                    <button class="button button-primary button-primary-outline button-winona"
                        href="https://rfo-cat.ru/texnicheskie-rabotyi">
                        <div class="content-original white">отправить</div>
                        <div class="content-dubbed">отправить</div>
                    </button>
                    <span>или использовать</span>
                    <button class="button button-primary-outline button-winona"
                        href="https://rfo-cat.ru/texnicheskie-rabotyi">
                        <div class="content-original">
                            <span class="icon novi-icon mdi mdi-whatsapp big-icon"></span>
                            whatsapp
                        </div>
                        <div class="content-dubbed">
                            <span class="icon novi-icon mdi mdi-whatsapp big-icon"></span>
                            whatsapp
                        </div>
                    </button>
                </div>
                <span class="contacts__policy">Отправляя форму вы соглашаетесь с
                    <a href="#" class="white-hover">"Политикой обработки персональных данных"</a></span>
            </div>
            <div class="contacts__footer">
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__column footer__left">
                <h4 class="column__title">
                    Уважаемые любители кошек!
                </h4>
                <div class="column__content">
                    На нашем сайте Вы сможете воспользоваться удобным онлайн сервисом заказа документов, с их последующей
                    регистрацией в ЕДИНОМ ВСЕРОССИЙСКОМ РЕЕСТРЕ Все бланки РФО имеют несколько степеней защиты: QR код,
                    водяные знаки, УФ- печать. РФО подготовила для Вас международный Рейтинг и различные формы обучения.
                    Наша команда соединила стандарты традиционного и рингового судейства, что сделает выставки более
                    интересными и динамичными для Вас! Мы полны планов и креативных проектов. Присоединяйтесь к Нам!
                </div>
            </div>
            <div class="footer__column footer__middle">
                <h4 class="column__title">
                    Контактная информация
                </h4>
                <div class="column__content">
                    624134, Россия, Новоуральск, Красногвардейский проезд, д. 5
                    +7 (908) 903-79-37
                    info@rfo-cat.ru ( Правление РФО)
                    upfc@rfo-upfc-cat.ru (Служба поддержки)
                    <div class="content__icons">
                        <div class="contact__icon">
                            <span class="icon novi-icon icon-md icon-modern mdi mdi-whatsapp"></span>
                            <a class="link-default" href="https://api.whatsapp.com/send?phone=79219956704" target="_blank">
                                WhatsApp</a>
                        </div>
                        <div class="contact__icon">
                            <span class="icon novi-icon icon-md icon-modern mdi mdi-vk">                        </span>
                            <a class="link-default" href="https://api.whatsapp.com/send?phone=79219956704" target="_blank">
                                ВКонтакте</a>
                        </div>
                        <div class="contact__icon">
                            <span class="icon novi-icon icon-md icon-modern mdi mdi-facebook"></span>
                            <a class="link-default" href="https://api.whatsapp.com/send?phone=79219956704" target="_blank">
                                Facebook</a>
                        </div>
                        <div class="contact__icon">
                            <span class="icon novi-icon icon-md icon-modern mdi mdi-instagram"></span>
                            <a class="link-default" href="https://api.whatsapp.com/send?phone=79219956704" target="_blank">
                                Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__right">
                <h4 class="column__title">
                    Заказать обратный звонок
                </h4>
                <div class="column__content">
                    <div class="column__wrapper d-flex justify-content-between">
                        <div class="form form-label-outside">
                            <label for="name">Имя</label>
                            <input id="name" type="text" required>
                        </div>
                        <div class="form form-label-outside">
                            <label for="phone">Телефон</label>
                            <input id="phone" type="text">
                        </div>
                    </div>
                    <div class="footer__callback">
                        <a class="button button-primary button-primary-outline button-winona"
                            href="https://rfo-cat.ru/texnicheskie-rabotyi">
                            <div class="content-original">заказать</div>
                            <div class="content-dubbed">заказать</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__line">
            <hr>
        </div>
        <div class="footer__wrapper">
            <div class="footer__copyrights d-flex mt-2 justify-content-between w-100 align-items-center flex-wrap">
                <a class="brand c-navbar-brand ml-3" href="/">
                    <img src="/assets/images/header/logo-light.png"
                        alt="Региональное отделение Российской фелинологической организации &quot;Уральский племенной фелинологический центр&quot;"></a>
                <div class="footer__rights">
                    <p class="rights"><span>©&nbsp;</span><span
                            class="copyright-year">2022</span><span>&nbsp;</span><span>Все права
                            защищены.</span><span>&nbsp;</span><br class="d-sm-none"><a
                            href="rekvizityi">Реквизиты</a><span>&nbsp;</span><br class="d-sm-none"><a
                            href="soglashenie-ob-obrabotke-personalnyix-dannyix">Политика Конфиденциальности</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8f77eb94-75ae-4cff-bfbb-a9131185a482&lang=ru_RU" type="text/javascript">
    </script>
    <script src="https://kit.fontawesome.com/57f46d2097.js" crossorigin="anonymous"></script>
</body>

</html>