<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Информация о способах доставки</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>Информация о способах доставки</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="forms__layout">
        <p class="m-0"><strong>Способы доставки</strong></p>
        <p>Мы готовы предложить Вам различные варианты доставки по всей России.</p>
        <p>Доставка в регионы осуществляется на ближайший к Вам пункт выдачи СДЭК. *)</p>
        <p>Доставка заказа до двери курьерской службой. *)</p>
        <p>Со сроками и тарифами можно ознакомиться на сайте транспортной компании (нажмите, чтобы прочесть
            подробнее)</p>
        <p><a href="https://cdek.ru/individuals/tariffs">https://cdek.ru/individuals/tariffs</a></p>
        <p>Доставка почтой России наложенным платежом*.</p>
        <p>*) Стоимость доставки оплачивается Клиентом при получении, и не входит в стоимость наших услуг.</p>
    </div>
</div>
