<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Реквизиты</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>Реквизиты</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="forms__layout">
        <p>РЕГИОНАЛЬНАЯ ОБЩЕСТВЕННАЯ ОРГАНИЗАЦИЯ "УРАЛЬСКИЙ ПЛЕМЕННОЙ ФЕЛИНОЛОГИЧЕСКИЙ ЦЕНТР" ПО СВЕРДЛОВСКОЙ
            ОБЛАСТИ</p>
        <p>624134, Свердловская область, г.Новоуральск, проезд. Красногвардейский, дом 4, кв. 11</p>
        <p>ИНН получателя 6682020632</p>
        <p>БИК 046577674</p>
        <p>ПАО Сбербанк</p>
        <p>к/с 30101.810.5.00000000674</p>
        <p>р/с 40703.810.2.16540005025</p>
        <p>Президент: Коновалова Светлана Владимировна</p>
    </div>
</div>
