<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Номера субъектов РФ</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list d-flex pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>Номера субъектов РФ</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="forms__layout">
        <div class="layout__content d-flex justify-content-center flex-wrap p-0">
            <table>
                <thead>
                <tr>
                    <th>Наименование субъекта</th>
                    <th>Номер субъекта</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Алтайский край</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>Амурская область</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Архангельская область</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>Астраханская область</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Белгородская область</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>Брянская область</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>Владимирская область</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>Волгоградская область</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Вологодская область</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>Воронежская область</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Еврейская автономная область</td>
                    <td>79</td>
                </tr>
                <tr>
                    <td>Забайкальский край</td>
                    <td>75[9]</td>
                </tr>
                <tr>
                    <td>Ивановская область</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>Иркутская область</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>Кабардино-Балкарская Республика</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Калининградская область</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>Калужская область</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Камчатский край</td>
                    <td>41[10]</td>
                </tr>
                <tr>
                    <td>Карачаево-Черкесская Республика</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Кемеровская область</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>Кировская область</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>Костромская область</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>Краснодарский край</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>Красноярский край</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>Курганская область</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Курская область</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td>Ленинградская область</td>
                    <td>47</td>
                </tr>
                <tr>
                    <td>Липецкая область</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>Магаданская область</td>
                    <td>49</td>
                </tr>
                <tr>
                    <td>Москва</td>
                    <td>77</td>
                </tr>
                <tr>
                    <td>Московская область</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Мурманская область</td>
                    <td>51</td>
                </tr>
                <tr>
                    <td>Ненецкий автономный округ</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>Нижегородская область</td>
                    <td>52</td>
                </tr>
                <tr>
                    <td>Новгородская область</td>
                    <td>53</td>
                </tr>
                <tr>
                    <td>Новосибирская область</td>
                    <td>54</td>
                </tr>
                <tr>
                    <td>Омская область</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>Оренбургская область</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>Орловская область</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>Пензенская область</td>
                    <td>58</td>
                </tr>
                <tr>
                    <td>Пермский край</td>
                    <td>59[14]</td>
                </tr>
                <tr>
                    <td>Приморский край</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Псковская область</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Республика Адыгея</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Республика Алтай</td>
                    <td>04[3]</td>
                </tr>
                <tr>
                    <td>Республика Башкортостан</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Республика Бурятия</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Республика Дагестан</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Республика Ингушетия</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Республика Калмыкия</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Республика Карелия</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Республика Коми</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>Республика Крым</td>
                    <td>91[4]</td>
                </tr>
                <tr>
                    <td>Республика Марий Эл</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Республика Мордовия</td>
                    <td>[13]</td>
                </tr>
                <tr>
                    <td>Республика Саха (Якутия)</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Республика Северная Осетия — Алания</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Республика Татарстан</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>Республика Тыва</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>Республика Хакасия</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>Ростовская область</td>
                    <td>61</td>
                </tr>
                <tr>
                    <td>Рязанская область</td>
                    <td>62</td>
                </tr>
                <tr>
                    <td>Самарская область</td>
                    <td>63</td>
                </tr>
                <tr>
                    <td>Санкт-Петербург</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>Саратовская область</td>
                    <td>64</td>
                </tr>
                <tr>
                    <td>Сахалинская область</td>
                    <td>65</td>
                </tr>
                <tr>
                    <td>Свердловская область</td>
                    <td>66</td>
                </tr>
                <tr>
                    <td>Севастополь</td>
                    <td>92[4]</td>
                </tr>
                <tr>
                    <td>Смоленская область</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Ставропольский край</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>Тамбовская область</td>
                    <td>68</td>
                </tr>
                <tr>
                    <td>Тверская область</td>
                    <td>69</td>
                </tr>
                <tr>
                    <td>Томская область</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Тульская область</td>
                    <td>71</td>
                </tr>
                <tr>
                    <td>Тюменская область</td>
                    <td>72</td>
                </tr>
                <tr>
                    <td>Удмуртская Республика</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>Ульяновская область</td>
                    <td>73</td>
                </tr>
                <tr>
                    <td>Хабаровский край</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>Ханты-Мансийский автономный округ - Югра</td>
                    <td>86</td>
                </tr>
                <tr>
                    <td>Челябинская область</td>
                    <td>74</td>
                </tr>
                <tr>
                    <td>Чеченская Республика</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Чувашская Республика</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>Чукотский автономный округ</td>
                    <td>87</td>
                </tr>
                <tr>
                    <td>Ямало-Ненецкий автономный округ</td>
                    <td>89</td>
                </tr>
                <tr>
                    <td>Ярославская область</td>
                    <td>76</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
