<div class="breadcrumbs">
    <div class="breadcrumbs__container">
        <h1 class="breadcrumbs__title">Заявка отправлена</h1>
        <div class="breadcrumbs__path">
            <ul class="breadcrumbs__list d-flex pl-0">
                <li class="breadcrumb__item pl-0">
                    <a routerLink="/">Российское Фелинологическое Общество</a>
                </li>
                <li class="breadcrumb__item active"><span>Заявка отправлена</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="forms__layout">
        <div class="layout__content d-flex justify-content-center flex-wrap p-0">
            <ul class="layout__description list-0 w-100">
                <li>Ваша заявка успешно отправлена</li>
            </ul>
        </div>
    </div>
</div>
